.containerr{
    width: 100%;
    float: left;
    border: solid 1px blue;
    text-align: center;
}
.containerr button{
    display: inline-block;
}
#collContent{
    float:left;
}
#btn3{
    float:right;
}
